<html>
   <head>
      <title>Login </title>
   </head>
<center>

   <body style="margin: 70px;">
      <h3>Login</h3>
      <br br>
      <form action = "/login" method = "POST"  >
         
        Email: <input type="email" name="email"  /><br><br><br>
         Password: <input type="password" name="password" /><br><br>
         
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</center>

</html>