
<form method="post" action="/students/create">
<br>
Student Id:<input type="text" name="Sid" ><br/>
Student Name:<input type="text" name="Sname" > <br/><br/>
Gender:
Male:<input type="radio" name="Gender" value="Male"  ><br/>
Female:<input type="radio" name="Gender" value="Female" ><br/>
City:<input type="text" name="City" ><br/>
<input type="submit" name="s1" value="Submit" /><br/>
</form>